.Ttags{
font-family: Impact, Charcoal, sans-serif;
font-size: 50px;
color: #FFFFFF;
text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18, 2px 2px 0px rgba(206,89,55,0)
}
.AllT{
font-family: Impact, Charcoal, sans-serif;
font-size: 25px;
text-shadow: 4px 3px 0 #7A7A7A, 2px 2px 0px rgba(206,89,55,0);
color: #8C8C8C;
}
